.boat {
animation: rock-boat 3s ease-in-out infinite;              /* animation-iteration-count: infinite ; */


}

.boat::after{
	animation: steam 4s 4s infinite;
}

body {
	animation: bg-move 8s ease-out forwards;
	animation-play-state: normal;
	
}

.mike {
	animation: mike-move 6s 2s ease-out forwards, 
	mike-float 3s 2s infinite;
}




@keyframes rock-boat {
	
	50%     { transform: rotate(-5deg) translateY(-10px); }     
}

@keyframes steam {

	40%,
	60% {opacity: 1;}
	100% {transform: translate(-15%, -35%) rotateZ(20deg);}
}
@keyframes bg-move {
	0%   { background-position: 100% -560px; }
	100% { background-position: -150% -460px;}
}


@keyframes mike-move {

	100% { left: 12%;}

}

@keyframes mike-float {

	50% { transform: rotateZ(5deg) translateY(-5px);}
}